body{
    font-family: "Roboto";
}

.flex-container{
    display: flex;
    flex-direction: column;
}

.head_foot {
    background-color: #1F2937;
    color: #e5e7eb;
}



footer{
    display: flex;
    justify-content: center;
    text-align: center;
}

h1{
    font-size: 36px;
    color: #1F2937;
    text-align: center;
}

.box {
    display: flex;
    list-style-type: none;
}

#quote{
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    text-align: center;
    justify-content: center;
    padding: 5% 25%;
}

#thunder {
    display: flex;
    text-align: right;
    justify-content: right;
}

.rcorners2 {
    display: flex;
    border-radius: 25px;
    border: 10px solid #3882F6;
    padding: 20px;
    width: 200px;
    height: 150px;
    margin: 20px;
  }

  .hlinks {
    display: inline-flex;
    list-style-type: none;
    text-align: right;
    color: #e5e7eb;
    font-size: 18px;
  }